<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Top Government Forms by burden hours, cost, and responses</title>

  <link rel="stylesheet" href="stylesheets/normalize.css" />
  <link rel="stylesheet" href="stylesheets/app.css" />
  
  <script src="javascripts/vendor/custom.modernizr.js"></script>
  <script type="text/javascript" src="//use.typekit.net/mxf4zfx.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>
<body>
  <%= yield %>
  
</body>
</html>
